# Verifizierung

Hallo **${user}**,  
zur Verifizierung deines Discord-Accounts musst du den folgenden Befehl an **${bot}** schicken.

```
$token
+${token_header}*
+${token_payload}*
+${token_signature}*
```

Viel Spaß auf unserem Server!

--  
Studierendenrat  
Otto-von-Guericke-Universität Magdeburg  
Gebäude 26 Raum 002  
Universitätsplatz 2  
39106 Magdeburg

Tel.: 0391-67-58971  
Mail: [stura@ovgu.de](mailto:stura@ovgu.de)  
Web: [https://stura-md.de](https://stura-md.de)
